@model IEnumerable<testingemailverification.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semster_No)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Subject_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chapter1_twomarkque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chapter1_fifteenmarkque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chapter2_twomarkque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chapter2_fifteenmarkque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chapter3_twomarkque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chapter3_fifteenmarkque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semster_No)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Subject_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chapter1_twomarkque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chapter1_fifteenmarkque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chapter2_twomarkque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chapter2_fifteenmarkque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chapter3_twomarkque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chapter3_fifteenmarkque)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.qid }) |
            @Html.ActionLink("Details", "Details", new { id=item.qid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.qid })
        </td>
    </tr>
}

</table>
