@model IEnumerable<testingemailverification.Models.Semster>

@{
    ViewBag.Title = "Index";
}

<h2>SEMSTERS:</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SemsterNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SemsterNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sid }) |
            @Html.ActionLink("Details", "Details", new { id=item.sid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sid })
        </td>
    </tr>
}

</table>
