<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>ADMIN CANTROLS:</h3><br />
    <ul>
    <li>@Html.ActionLink("DEPARTMENTS", "Index", "Departments")</li>
    <li>@Html.ActionLink("SEMSTERS", "Index", "Semsters")</li>
    <li>@Html.ActionLink("COORDINATORS", "Index", "Coordinators")</li>
    <li>@Html.ActionLink("RANDOMIZE", "Index", "Randomize")</li>
    <li>@Html.ActionLink("SUBJECTS", "Index", "Subjects")</li>
        </ul>
</body>
</html>